img {
	border:10px solid;
	border-radius:10px;
	border-color: #343436;
	margin: 5px
}

body{
	background-color:#4F4E52;
}

input[type=text]{
	   width: 200px;
	   height: 25px;
	   font-size: 18px;
	   font-family:arial, sans-serif;
	   background-color: #343436;
	   /*border: solid;*/
	   border:5px solid;
	   border-radius:10px;
	   color:whitesmoke;
   }

input[type=submit]{
	width: 100px;
	height: 35px;
	font-size: 18px;
	font-family:arial, sans-serif;
	background-color: #343436;
	border: solid;
	border:5px solid;
	border-radius:10px;
	color:whitesmoke;
	text-align:center;
}

.text {
	font-size: 18px;
	font-family:arial, sans-serif;
	color:whitesmoke;
}

div input{
	vertical-align:middle;
	margin: 5px;

}

.fade-in.ng-enter,
.fade-in.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
	opacity:0;
}
.fade-in.ng-leave,
.fade-in.ng-enter.ng-enter-active {
	opacity:1;
}