<!doctype html>
<html lang="en" ng-app="">
<head>
    <link rel="stylesheet" href="assets/css/assignment7.css"/>
    <meta charset="UTF-8">
    <title>{{ greeting }} World</title>
</head>
<body>
<div>
<table align="center">
    <tr>
        <td>asd</td>
        <td>test</td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="border:solid">
                <tr>
                    <td>Provide the following words:</h3></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="maleName" placeholder="Male Name"/></td>
                    <td><input type="text" ng-model="jobTitle" placeholder="Job Title"/></td>
                    <td><input type="text" ng-model="tediousTask" placeholder="Tedious Task"/></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="dirtyTask" placeholder="Dirty Task"/></td>
                    <td><input type="text" ng-model="celebrity" placeholder="Celebrity"/></td>
                    <td><input type="text" ng-model="uselessSkill" placeholder="Useless Skill"/></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="obnoxiousCelebrity" placeholder="Obnoxious Celebrity"/></td>
                    <td><input type="text" ng-model="hugeNumber" placeholder="Huge Number"/></td>
                    <td><input type="text" ng-model="adjective" placeholder="Adjective"/></td>
                </tr>
            </table>
            </div>
        </td>
    </tr>
    <tr>

    </tr>
</table>

</div>
</body>
</html>


<!--<div>asd234</div>--><!--<div>-->

<!--<table style="border:solid">--><!--<tr><td>Provide the following words:</h3></td></tr>--><!--<tr>--><!--<td><input type="text" ng-model="maleName" placeholder="Male Name"/></td>--><!--<td><input type="text" ng-model="jobTitle" placeholder="Job Title"/></td>--><!--<td><input type="text" ng-model="tediousTask" placeholder="Tedious Task"/></td>--><!--</tr>--><!--<tr>--><!--<td><input type="text" ng-model="dirtyTask" placeholder="Dirty Task"/></td>--><!--<td><input type="text" ng-model="celebrity" placeholder="Celebrity"/></td>--><!--<td><input type="text" ng-model="uselessSkill" placeholder="Useless Skill"/></td>--><!--</tr>--><!--<tr>--><!--<td><input type="text" ng-model="obnoxiousCelebrity" placeholder="Obnoxious Celebrity"/></td>--><!--<td><input type="text" ng-model="hugeNumber" placeholder="Huge Number"/></td>--><!--<td><input type="text" ng-model="adjective" placeholder="Adjective"/></td>--><!--</tr>--><!--</table>--><!--</div>-->

<!--<div>--><!--{{maleName || '{\{male name}\}'}} {{jobTitle || '{\{job title}\}'}} {{tediousTask || '{\{tedious task}\}'}} {{celebrity || '{\{celebrity}\}'}} {{uselessSkill || '{\{useless skill}\}'}} {{obnoxiousCelebrity || '{\{obnoxious celebrity}\}'}} {{hugeNumber || '{\huge number}\}'}} {{adjective || '{\{adjective}\}'}}--><!--</div>-->