.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    border: 2px solid;
    border-radius: 3px;
    margin-top: 5px;
}

.contentTitle {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid;
    margin: 10px;
    text-align: left;
}

table {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

input.ng-invalid.ng-dirty {
    border: 4px solid red;
}

.slide-right {
    left: 0;
}

.slide-right.ng-enter {
    transition: 0.10s linear all;
    position: fixed;
    z-index: inherit;
    left: -100%;
    height: inherit;
}

.slide-right.ng-leave {
    transition: 0.10s linear all;
    position: fixed;
    z-index: 9999;
    right: 0;
}

.slide-right.ng-leave-active {
    transition: 0.10s linear all;
    position: fixed;
    right: -100%;
    left: 100%;
}

.slide-right.ng-enter-active {
    transition: 0.10s linear all;
    left: 0;
    position: relative;
}