<!doctype html>
<html lang="en" ng-app="app">
<head>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="../global/assets/js/angular.min.js" type="text/javascript"></script>
  <script src="../global/assets/js/angular-animate.min.js" type="text/javascript"></script>
  <script src="../global/assets/js/angular-resource.min.js" type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
  <meta charset="UTF-8">
</head>
<body>
<div ng-controller="controller">
  <form address-auto-complete>
    <div>
      <label>Address:</label><input type="text" auto-complete address-field="address" ng-model="model.address"/>
    </div>
    <div>
      <label>City:</label><input type="text" address-field="city" ng-model="model.city"/>
    </div>
    <div>
      <label>State:</label><input type="text" address-field="state" ng-model="model.state"/>
    </div>
    <div>
      <label>Zip:</label><input type="text" address-field="zip" ng-model="model.zip"/>
    </div>
    <div>
      <label>Country:</label><input type="text" address-field="country" ng-model="model.country"/>
    </div>
  </form>

  <div>{{model}}</div>
  <div>{{test}}</div>
</div>
</body>
</html>