#control {
    background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.calendar {
    height: 100%
}

#calendar-body {
    height: 80px;
}

div.day {
    float: left;
    width: 14%;
    border:1px solid #000000;
}

div.day, .weekday {
    background-color: white;
    height:100%;
}

div.day .paddedDay{
    background-color: darkgray;
    height: 100%;
}
