.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.underline{
	border-bottom:2px solid;
	width:100%;
}

table{
	border:solid 2px;
	width:70%;
}

#countries {
	height:150px;
	overflow:auto;
}