.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.underline {
    border-bottom: 2px solid;
    width: 100%;
}

table {
    background-color: #aaa;
}

#countries table {
    margin-top: 50px;
    border: solid 2px;
    width: 80%;
}

th, .infoLabel {
    background-color: darkslategrey;
    color: #ffffff;
}

#countries tbody {
    height: 250px;
    overflow: auto;
}

tbody {
    background-color: #ddd;
}

td {
    padding: 3px 10px;
    border: solid 2px;
}

th > tr, tbody {
    display: block;
}

.hover {
    background-color: lightslategray;
    cursor: pointer;
}

.image {
    width: 15%;
    height: 15%;
    margin: 10px;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.loading {
    position: relative;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9) no-repeat center center;
    background-image: url('./loading-animation.gif');
}

.slide-right {
    left: 0;
}

.slide-right.ng-enter {
    transition: 0.10s linear all;
    position: fixed;
    z-index: inherit;
    left: -100%;
    height: inherit;
}

.slide-right.ng-leave {
    transition: 0.10s linear all;
    position: fixed;
    z-index: 9999;
    right: 0;
}

.slide-right.ng-leave-active {
    transition: 0.10s linear all;
    position: fixed;
    right: -100%;
    left: 100%;
}

.slide-right.ng-enter-active {
    transition: 0.10s linear all;
    left: 0;
    position: relative;
}