.g-z-index-header {
	z-index: 1000;
}

.controls {
	bottom:0;
	text-align: center;
	/*vertical-align: middle;*/
	margin-top:25%;
	margin-bottom:25%;
	/*display:table-cell;*/
	/*vertical-align:middle*/
}

.track {
	font: arial, sans-serif;
	font-weight: bold;
	font-size:20px;
	/*width: 15;*/
	/*height: 25px;*/
	/*background-color: #000000;*/
}
.play {
	/*color:#333;*/
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/play.png);
	background-color: transparent;
	border:none;
}

.pause {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/pause.png);
	background-color: transparent;
	border:none;
}