<!doctype html>
<html lang="en" ng-app="app">
<head>
  <script src="../../global/assets/js/angular.min.js" type="text/javascript"></script>
  <script src="../../global/assets/js/angular-animate.min.js" type="text/javascript"></script>
  <script src="../../global/assets/js/angular-resource.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="assets/css/instagram.css"/>
  <script src="assets/js/combined.js" type="text/javascript"></script>
  <meta charset="UTF-8">
</head>
<body>
<div ng-controller="InstagramSearcherCtrl" ng-submit="submit()">
<form>
  <div>
    <input placeholder="search" autofocus ng-model="search" type="text"/>
    <input type="submit" value="submit"/>
    <span ng-if="searching == true">searching</span>
    <span class="text" ng-if="results">{{results.length}} results for '{{lastSearch}}'</span>
  </div>
  <div>
    <span class="fade-in" ng-repeat="result in results">
      <img ng-src="{{result.images.thumbnail.url}}"/>
    </span>
  </div>
</form>
</div>
</body>
</html>