<!doctype html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="assets/css/calc.css"/>
    <meta charset="UTF-8">
</head>
<body>
<h1>Waitstaff Calculator</h1>

<div ng-controller="CalculatorCtrl">

    <form ng-submit="submit(details)" name="form" novalidate>
        <div class="content" style="float:left">
            <table>
                <tr>
                    <td class="title" colspan="2" align="center"><span>Enter the Meal Details</span></td>
                </tr>
                <tr>
                    <td align="right">Base Meal Price: $</td>
                    <td><input name="baseMealPrice" type="number" ng-model="details.baseMealPrice" required/></td>
                </tr>
                <tr>
                    <td align="right">Tax Rate: %</td>
                    <td><input name="taxRate" type="number" ng-model="details.taxRate" required/></td>
                </tr>
                <tr>
                    <td align="right">Tip Percentage: %</td>
                    <td><input name="tipPercentage" type="number" ng-model="details.tipPercentage" required/></td>
                </tr>
                <tr>
                    <td align="right"><input type="submit"/></td>
                    <td style="float:left"><input value="Cancel" type="button" ng-click="clearDetails()"/></td>
                </tr>
                <tr>
                    <td><input value="Reset" type="button" ng-click="reset()"/></td>
                </tr>
            </table>
        </div>

        <div style="float:right">
            <div class="content">
                <span class="title">Customer Charge</span>

                <div>Subtotal: {{totals.subTotal | currency}}</div>
                <div>Tip: {{totals.tip | currency}}</div>
                <div>Total: {{totals.total | currency}}</div>
            </div>
            <div class="content">
                <span class="title">My Earnings Info</span>

                <div>Tip Total: {{totals.tipTotal | currency}}</div>
                <div>Meal Count: {{totals.mealCount}}</div>
                <div>Average Tip Per Meal: {{totals.averageTipPerMeal | currency}}</div>
            </div>
        </div>
    </form>
</div>

</div>

</body>
<footer>
    <script src="../../../global/assets/js/angular.min.js" type="text/javascript"></script>
    <script src="assets/js/controller.js" type="text/javascript"></script>
</footer>
</html>