<div class="center" ng-if="country">
    <h2>{{country.isoAlpha3}}</h2>

    <div class="center">
        <table>
            <tr>
                <td class="infoLabel">
                    Population of Country:
                </td>
                <td>
                    {{country.population | number}}
                </td>
            </tr>
            <tr>
                <td class="infoLabel">
                    Area:
                </td>
                <td>
                    {{country.areaInSqKm | number}} square km
                </td>
            </tr>
            <tr>
                <td class="infoLabel">
                    Capital:
                </td>
                <td>
                    {{capital.adminName1}}
                </td>
            </tr>
            <tr>
                <td class="infoLabel">
                    Population of Capital:
                </td>
                <td>
                    {{capital.population | number}}
                </td>
            </tr>
            <tr>
                <td class="infoLabel">
                    {{neighbors.length}} neighbors:
                </td>
                <td>
                    <span ng-repeat="neighbor in neighbors">
                        <a ng-href="#/countries/{{neighbor.countryCode}}">
                            {{neighbor.countryName}}
                        </a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div id="images">
        <div>
            <img width="40%" height="40%"
                 ng-src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif"/>
        </div>
        <div>
            <img width="40%" height="40%" ng-src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png"/>
        </div>
    </div>

</div>