.content {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    background-color: cyan;
}

.result {
    margin: 2%;
}

h1 {
    padding-top: 2%;
}

body {
    background-color: darkgray;
}

